.aboutImage {
  width: 50vw;
  margin: 0px;
}
.aboutContent {
  width: 50vw;
  margin: 0px;
}
.content-title {
 font-size: 28px;
  max-width: 800px;
 margin: 20px auto;
 text-decoration: underline;
  
}
.content-detail {
    font-size: 20px;
  max-width: 800px;
  margin: 10px auto;
  padding: 0px 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
@media only screen and (max-width: 720px) {
  .aboutImage {
    width: 100vw;
  }
  .aboutContent {
    width: 100vw;
  }
  .content-title {
    max-width:70vw;
      margin: 10px auto;
  }
  .content-detail {
    max-width: 90vw;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
